<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>ui-listView by StevenLambion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="bower_components/ui-listView/dist/ui-listView.css" media="screen">
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">-->
    
  </head>
  <body ng-app="app">
    <section class="page-header">
      <h1 class="project-name">ui-listView</h1>
      <h2 class="project-tagline">An efficient, scrollable, dynamic list view for angular.</h2>
      <a href="https://github.com/StevenLambion/ui-listView" class="btn">View on GitHub</a>
      <a href="https://github.com/StevenLambion/ui-listView/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/StevenLambion/ui-listView/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <p>
        ui-listView is an efficient, scalable list for large data sets.  You simply provide a height and use it similarly to
        ng-repeat with all the angular bindings you want.  Even with a list of 1000 it won't slow down.  There's also no static row height.
        The height is set by the contents of the row dynamically.
      </p>


      <h3>
        <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation
      </h3>
      <p>
        You can add ui-listView through the bower package manager.
      </p>
      <code>
        bower install ui-listView [--save]
      </code>
      
      <h3>
        <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span class="octicon octicon-link"></span></a>Examples
      </h3>
      
      <div ng-controller="Examples">
        <h4>Basic Usage</h4>
        <div class="container-fluid no-padding">
          <div class="col-xs-12 col-sm-6">
            <div class="country" ui-list-view="country in countries" style="height:300px; font-size:14px;">
                {{ country.name }}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
<pre><code ng-non-bindable>
  &lt;div ui-list-view="country in countries"&gt;
    {{ country.name }}
  &lt;/div&gt;
</code></pre>
          </div>
        </div>
        
        <h4>Custom Style</h4>
        <div class="container-fluid no-padding">
          <div class="col-xs-12 col-sm-6">
            <div class="custom-list" ui-list-view="country in countries" options="{ style: 'none' }">
                <div class="country">{{ country.name }}</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
  <pre><code ng-non-bindable>
  &lt;div class="custom-list" ui-list-view="country in countries" options="{ style: 'none' }"&gt;
    &lt;div class="country"&gt;{{ country.name }}&lt;div&gt;
  &lt;/div&gt;
  </code></pre>

<pre><code ng-non-bindable>
.custom-list {
  height: 300px;
  border: solid 1pt darkblue;
  border-radius: 15px;
}

.custom-list .country {
  border-bottom: dashed 1pt darkblue;
  padding: 5px 5px; 
}
</code></pre>
  
          </div>
        </div>
        
        <h4>Advanced Usage</h4>
        <div class="container-fluid no-padding">
          <div class="col-xs-12 col-sm-6">
            <label>
              <input type="checkbox" ng-model="hideEmail"/> Hide email
            </label>
            <div class="contact-list panel panel-default">    
                <div class="panel-heading">
                    <input class="form-control" ng-model="search.name" placeholder="Search Name.."/>
                </div>
                
                <div class="panel-body">
                    <div class="contact" ui-list-view="contact in contacts | filter:search">
                        <div class="name"><strong>{{ contact.name }}</strong></div>
                        <div class="email text-muted" ng-if="!hideEmail">{{ contact.email }}</div>
                    </div>
                </div>
                
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <pre><code ng-non-bindable>
&lt;div class="contact-list panel panel-default"&gt;
    
    &lt;div class="panel-heading"&gt;
        &lt;input class="form-control" ng-model="search.name" placeholder="Search Name.."/&gt;
    &lt;/div&gt;
    
    &lt;div class="panel-body"&gt;
        &lt;div ui-list-view="contact in contacts | filter:search"&gt;
            &lt;p class="name"&gt;&lt;strong&gt;{{ contact.name }}&lt;/strong>&lt;/p&gt;
            &lt;div class="email text-muted"&gt;{{ contact.email }}&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    
&lt;/div&gt;
          </code></pre>
        </div>
      </div>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/StevenLambion/ui-listView">Ui-listview</a> is maintained by <a href="https://github.com/StevenLambion">StevenLambion</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>
  <script src="bower_components/angular/angular.min.js"></script>  
  <script src="bower_components/ui-listView/dist/ui-listView.min.js"></script>
  <script src="app.js"></script>
  </body>
</html>
