.ui-list-view {
    overflow: auto !important;
    position: relative;
    -webkit-overflow-scrolling: touch;
    height: 300px;
}
.ui-list-view-cell {
    position: absolute;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.ui-list-view-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
}

.ui-list-view-bordered {
    border: solid 1pt #eee;
}

.ui-list-view-bordered > .ui-list-view-cell {
    border-bottom: solid 1pt #eee;
}

.ui-list-view-bordered > .ui-list-view-cell > .ui-list-view-cell-content > * {
    padding: 15px 10px;
}

.ui-list-view-striped {
    border: solid 1pt #eee;
}

.ui-list-view-striped > .ui-list-view-cell:nth-child(even) {
    background: #F9FaFb;
}

.ui-list-view-striped > .ui-list-view-cell > .ui-list-view-cell-content > * {
    padding: 15px 10px;
}

.ui-list-view-cell-content > ._selected {
    background: #2A70DE;
    color: white;
    border-bottom: solid 1pt #eee;
}
